.contain_er {
    font-family: 'Open Sans', sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 50px 0; */
}

.donate {
    background-color: #171b24;
    /* width: 500px; */
    color: #FFF;
}

.donate p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
}

.donate h3 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}

.donate-black {
    margin-left: 36%;
    padding: 12px;
}

.donate-black h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #FFF;
    font-size: 32px;
    margin-bottom: 30px;
}

.donate-black h3 span {
    display: block;
    float: left;
    font-size: 16px;
    padding-top: 7px;
    margin-right: 20px;
    text-align: center;
    width: 30px;
    height: 25px;
    background-color: #ec3029;
    border-radius: 50%;
}

.denomination-other {
    /* width: 99.8%; */
    display: flex;
    place-content: center;

}

.denomination-other input {
    position: relative;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    width: 20%;
    width: inherit;
    text-align: center;
    background-color: #171b24;
    border: none;
    padding: 13px 0;
    transition: background-color 0.2s ease;
}

.denomination-other input ::placeholder {
    color: #FFF;
}

.denomination-other input:hover {
    background-color: #a0a0a0;
    color: #fff;
}

.denomination-other input:before {
    position: absolute;
    left: 6px;
    top: 2px;
    content: '$';
}

.donate-submit button {
    font-family: 'Oswald', sans-serif;
    background-color: #ec3029;
    border: none;
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 0;
    margin: 30px 0;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 44%;
    width: 13%;
}

.donate-submit small {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
}

/* color: #A020F0; */